body{
	background-color: black;
	color: white;
}
textarea{
	background-color: #434343;
	color: #fff;
	border: none;
	width: 390px;
	heigt: 50px;
}
.confirm{
	background-color: #0053FF;
	color: white;
	border: none;
	border-radius: 22px;
	width: 100px;
	height: 50px;
}
.confirm:hover{
	background-color: #2068FF;
	color: white;
	border: none;
}
a{
	color: #F4211F;
	border: none;
}